
#target > li {
	display: none;
}

section:not(.style) #menu li.active:after {
	content:"◀ もう一度クリックすると閉じる";
	margin-left:0.5em;
	font-size:0.8em;
	color : #269F9E;
}
.style #menu {
	width:100%;
	max-width:980px;
	margin:auto;
	list-style:none;
	display :flex;
	justify-content:space-between;
	border-right: 1px solid #ccc;
}
.style #menu li{
	border-left: 1px solid #ccc;
	width:100%;
	text-align:center;
	padding:0.25em 0;
}
#style {
	display:block;
	width : 60%;
	text-align:center;
	padding:0.5em;
	margin:2em auto;
	border:#ccc solid 1px;
}